<!-- adding the img and card for the picture of the movie as well as the synapsis -->

<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href="#">
        <img class="rounded-t-lg" src="/docs/images/blog/image-1.jpg" alt="" />
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{Title}}</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{Plot}}</p>
    </div>
</div>

<!-- Chat box --> 

 <h1 class="Chat">
         <div class="border-solid border-2 border-indigo-600">
            <p class="text-4xl font-extrabold text-gray-900 dark:text-white"><p>{{username}}</p></p>
        </div>
    </h1>

    {{!-- <label for="message" class="block mb-2 text-lg font-large text-white dark:text-white">Review</label>
<textarea id="message" data-user="{{username}}" data-title="{{title}}" rows="4" class="block p-2.5 w-full text-sm text-white-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write your thoughts here..."></textarea>
   --}}
{{!-- <label for="rating" class="block mb-2 text-lg font-large text-white dark:text-white">Rate this movie</label>
<select id="rating" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
  <option value="3"selected>3</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="4">4</option>
  <option value="5">5</option>
</select>
<button id="rate" type="button"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit your review!</button> --}}
<!-- Users area for chat and reviews -->


   
   <!-- Users area for chat and reviews -->

     {{!-- <h1 class="flex justify-start text-right">
        <div class="border-solid border-2 border-indigo-600 ...">
            <p class="text-4xl font-extrabold text-gray-900 dark:text-white">User</p>
    </div>
    </h1> --}}

<!-- flowbite card user profile card -->
<div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    {{!-- <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{UserName}}</h5> --}}
    <p class="font-normal text-gray-700 dark:text-gray-400">{{newReview}}</p>
</div>

    
     {{!-- <h1 class="flex justify-start text-right">
        <div class="rounded-full bg-blue-700">
            <p class="text-4xl font-extrabold text-gray-900 dark:text-white">User</p>
    </div>
    </h1> --}}

     <!-- linking JS -->
   {{!-- <script src="../routes/movieRoutes.js"></script> --}}
   <script src="/js/review.js"></script>

   <!-- linking taildwind css -->
    <script src="https://cdn.tailwindcss.com"></script>
 <!-- linking jquery -->
   <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
   </body>
</html>